In [1]:
import pandas as pd

1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
l={0: 4, 1: 8, 2:15, 3:16, 4:23,5:42}

In [9]:
ans=pd.Series(l)

In [10]:
ans

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [18]:
l=[]
for i in range(10):
    l.append(i)
ans2=pd.Series(l)
ans2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [19]:
df=pd.read_csv("data.csv")

In [20]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [21]:
type(df)

pandas.core.frame.DataFrame

##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

dataframe:Is a 2 dimentional data-structure where 1st row tells about properties of data
          And second row tells about values of the current object
                                    Seris is 1 dimentional and dataframe is 2 dimentional

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1.read_csv=to read the data from csv file
2.read_excel=to read the data from excel file
3.head()=to read first 5 rows
4.tail()=to read last 5 rows
5.colums=to see the properties of data means first rows where properties are written
6.dtypes=Return the dtypes in the DataFrame

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

dataframe